<h3><i class="fa-solid fa-calendar"></i>AAA-LEV</h3>
<div class="section">
    <p class="lead">Create Events for AAA Lift Every Voice BRG that all members can see</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab-fa-google left"></i>
        LOGIN WITH GOOGLE
    </a>
</div>